/fruits-360_dataset/
preprocessedDataset.pt
/training-Style-genPaper-discNuestro/
/training-Style-genPaper-discNuestro-alfasAlReves/
/training-Style-genPaper-discPorBloques/
/training-Style-genPaper-discPorBloques-alfasRapidos/
/training-Style-genPaper-discPorBloques-alfasRapidos2/
/training-Style-genPaper-discPorBloques-alfasRapidos3/
/training-Style-genPaper-discPorBloques-alfasRapidos4/
/trainingPaperLike-GenPaper-DiscNuestro/
/trainingPaperLike-GenPaper-DiscNuestro2/
/prueba2/
/trainingPaperLike-GenPaper-DiscNuestrov9/
/ConditionalTraining/
/trainingPaperLike-GenPaper-DiscNuestrov12/
/trainingPaperLike-GenPaper-DiscNuestrov13/
/training-BlurLayerDisc/